body {
  height:100vh;
  margin:none;
  padding:none;
  border:none;
}

.top {
  display:flex;
  height: 30%;
  width: 98%;
  border: solid black 5px;
  margin: 10px;
}

#box1 {
  background-color: purple;
  height:100px;
  width:50px;
  margin:60px 20px 10px 10px;
}

#box2 {
  background-color: green;
  height:90%;
  width:30%;
  margin:10px 20px;
}

#box3 {
  background-color: lightblue;
  height:90%;
  width:15%;
  margin:10px 40px;
  border-radius: 50%;
}

.middle {
  display:flex;
  height: 30%;
  width: 98%;
  border: dotted black 5px;
  margin: 10px;
}

#box4 {
  background-color: rgb(199, 194, 121);
  height:80%;
  width:90%;
  margin:15px 50px;
  box-shadow: 10px 10px 20px black;
}

.bottom {
  height:30%;
  width:98%;
}

#heading {
  text-align: center;
  letter-spacing: 0.5rem;
}

#box5 {
  display:flex;
  align-items: center;
  justify-content: center;
  border:2px solid lightgrey;
  height:80%;
  width:50%;
  margin:20px 300px;
  box-shadow: 5px 5px 10px black;
}